 


		    <div id="map"></div>
			    <script>
			      function initMap() {
				var mapDiv = document.getElementById('map');
				var map = new google.maps.Map(mapDiv, {
				  center: {lat: 53.3482454384848, lng: -6.2967860673700216},
				  zoom: 18
				});
					var marker = new google.maps.Marker({
  						position: {lat: 53.3482454384848, lng: -6.2967860673700216},
  						map: map,
  		
					});
		
			      }
			    </script>
			    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
				async defer></script>
		


	



	 <div id="container-contact">


		
                 		<div class ="row">
			         <div class="col-md-12">
				        
					<div class="titlebar">     	
						<h1 class="entry-title">Contact Us Here</h1>				                	
				    	</div>
				</div>
        
	   			
				 <div class ="services1">
				
				  <div class="col-md-4">
					<p>Your Name (required)<br />

				    	<span class="wpcf7-form-control-wrap your-name">
						<input type="text" name="your-name" value="" size="33" class="wpcf7-form-control wpcf7-text 
								wpcf7-validates-as-required" aria-required="true" aria-	invalid="false" />
					</span> 
					</p>
					<p></p>
					<p>Phone (required)<br />

					<span class="wpcf7-form-control-wrap tel-656">
						<input type="tel" name="tel-656" value="" size="33" class="wpcf7-form-control wpcf7-text wpcf7-tel 
								wpcf7-validates-as-	required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" />
					</span></p>

					<p>Your Email (required)<br />
				    	<span class="wpcf7-form-control-wrap your-email">
					<input type="email" name="your-email" value="" size="33" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-	  
						validates-	as-email" aria-required="true" aria-invalid="false" /></span> </p>
					<p>Subject<br />
				    	<span class="wpcf7-form-control-wrap your-subject">
						<input type="text" name="your-subject" value="" size="33" class="wpcf7-form-control wpcf7-text" aria-invalid="false" />
					</span> </p>

					<p>Your Message<br />
				    	<span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="33" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false">
					</textarea></ span> </p>
					<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
					<div class="wpcf7-response-output wpcf7-display-none"></div>
				   </div>
				</div>
				
				

		
				  
				
		
					 <div class="col-md-8">
					  <img alt="About" src="http://30dayadventures.ca/wp-content/uploads/2014/07/Whistler-Blackcomb-Bike-Rentals-shop-in-the-Village.jpg" class="about-image2" />
									<hr />
						<div class ="row">
					         <div class ="services">
						  <div class="col-md-6">
							<h2><strong>Address</strong></h2>
							<hr>
							<h3>Dublin</h3>
							<address>Knockmaun House,</address>
							<address>42-47, Lower Mount Street,</address>
							<address>Dublin 2,</address>
			
							<address><span style="font-size: 15px;"><span>Tel. +353 1 671 1633&nbsp;</span><br /></span></address>
		
						  </div>

						  <div class="col-md-6">
						    <h2><strong>Open hours</strong></h2>
							<hr>
						    <address>currently operates on  basis from </address>
						    <address>Monday to Friday: 9am to 4.50pm</address>
		
						  </div><!-- services -->
							  
				               </div><!-- row -->
					 </div>
				</div><!-- row -->

					
	

	</div><!-- #contact -->
	
</div>


